<footer id="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="footer has-text-centered">
          <figure role="group">
            <img alt="" src="https://mfdz.de/media/site/3469423397-1603810793/schriftzug-path-lg.svg">
          </figure>
          <div class="socialmedia">
            <a href="https://twitter.com/mfdz_de">
              <span class="icon is-large"><i class="fa fa-twitter">&#8203;</i></span>
            </a>
            <a href="https://github.com/mfdz">
              <span class="icon is-large"><i class="fa fa-github">&#8203;</i></span>
            </a>
            <a href="https://www.facebook.com/MFDZ-524138181304936">
              <span class="icon is-large"><i class="fa fa-facebook">&#8203;</i></span>
            </a>
          </div>
          <p class="copyright">© 2017- 2021 MITFAHR|DE|ZENTRALE</p>
        </div>
      </div>
    </div>
  </div>
</footer>