 <header>   
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://mfdz.de">
            <figure role="group">
              <img alt="" src="https://mfdz.de/media/site/3469423397-1603810793/schriftzug-path-lg.svg">
            </figure>
          </a>
            <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <!-- Navbar Links -->
                        <a class="navbar-item " href="https://mfdz.de">
              Home            </a>
                        <a class="navbar-item is-active" href="https://data.mfdz.de/">
              Daten            </a>
                        <a class="navbar-item " href="https://mfdz.de/blog">
              Blog            </a>
                        <a class="navbar-item" href="https://mfdz.de/datenschutz">
              Datenschutz            </a>
                        <a class="navbar-item " href="https://mfdz.de/impressum">
              Impressum            </a>
                        <a class="navbar-item " href="https://mfdz.de/contact">
              Kontakt            </a>
                        <!-- End of Navbar Links -->
          </div>
        </div>
      </div>
    </nav>
  </header>