<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MITFAHR|DE|ZENTRALE Data Publishing Container re-publiziert offene Datensätze 
    aus anderen Portalen, die diese zwar grundsätzlich unter offenen Lizenzen, jedoch nicht FAIR, das heißt nicht 
    auffindbar (Findable), zugänglich (Accessible), interoperabel (Interoperable), oder wiederverwendbar (Re-useable) bereitstellen.
    " />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!-- OPENGRAPH -->
    <meta content="MITFAHR|DE|ZENTRALE" property="og:title">
    <meta content="https://mfdz.de/media/site/2954417654-1603810793/ogimage.jpg" property="og:image">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="MITFAHR|DE|ZENTRALE" property="og:site_name">
    <meta content="MITFAHR|DE|ZENTRALE Datensätze" property="og:description">
    <meta content="MITFAHR|DE|ZENTRALE" property="article:author">
      
    <!-- SEO -->
    <meta content="MITFAHR|DE|ZENTRALE" name="author">
    <meta content="MITFAHR|DE|ZENTRALE Datensätze" name="description">
    <meta content="index, follow, noodp" name="robots">  <link rel="apple-touch-icon" sizes="180x180" href="https://mfdz.de/media/site/3434498041-1603810793/apple-touch-icon-180-180.png">
    <!-- TWITTER -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mfdz_de">
    <meta name="twitter:creator" content="@mfdz_de">

    <meta content="MITFAHR|DE|ZENTRALE" property="twitter:title">
    <meta content="https://mfdz.de/media/site/2954417654-1603810793/ogimage.jpg" property="twitter:image">
    <meta content="MITFAHR|DE|ZENTRALE Datensätze" property="twitter:description">

    <link href="https://mfdz.de/assets/css/bulma.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://mfdz.de/assets/css/lity.min.css" rel="stylesheet">
    <link href="https://mfdz.de/assets/css/slick.css" rel="stylesheet">
    <link href="https://mfdz.de/assets/css/index.css" rel="stylesheet">
    <link href="https://mfdz.de/assets/css/templates/default.css" rel="stylesheet">
    <link href="https://mfdz.de/assets/css/templates/blog.css" rel="stylesheet">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.mfdz.de",
      "logo": "https://www.mfdz.de/media/site/3434498041-1603810793/apple-touch-icon-180-180.png"
    }
    </script>

    <title>MFDZ - Datensätze</title>
	</head>
	<body>
  {% include "includes/header.html" %}
<main role="main">
  <h1 class="is-hidden">Daten</h1>
  <section class="section module-text-section">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column is-8 content module-title has-text-centered">
          <h2 class="title">Daten</h2>
        </div>

        <div class="column is-12">
          <div class="content">
            <p>Wir re-publizieren hier offene Datensätze anderer Portale oder Organisationen, die diese zwar grundsätzlich unter offenen Lizenzen, jedoch nicht <a href="https://www.go-fair.org/fair-principles/">FAIR</a>, das heißt nicht auffindbar (Findable), identifizierbar (Identifiable), zugänglich (Accessible) oder wiederverwendbar (Reusable) bereitstellen.</p>
            <p>Insbesondere werden die Datensätze hier ohne Login-Erfordernis, mit JSON-LD Metadaten, mit permanenter URL und Last-Modified-Header veröffentlicht. Wo Meta-Daten nicht originär vorliegen, erstellen wir diese nach bestem Wissen und Gewissen und gehen auf die datenbereitstellende Organisation zu, diese zukünftig selbst bereitzustellen.</p>
            <p>Die Bereitstellung der Datensätze erfolgt ohne Gewähr und Verfügbarkeits-Zusicherung.</p>
            <p>Diese Seite demonstriert das Konzept des "Data Publishing Container", einer leichtgewichtigen Möglichkeit
              für Organisationen, selbst ihre eigenen Datensätze auf ihren eigenen Webpräsenz unter Berücksichtigung der FAIR-Prinzipien bereitzustellen, ohne gleich ein "Portal" aufbauen zu müssen. Weitere Informationen hierzu in unserem <a href="https://github.com/mfdz/data-publishing-container/">GitHub-Projekt</a>.</p>
            <p>Wünsche für 2021 und weitere Planung: Aus unserer Sicht sollten Datensätze nicht nur FAIR, sondern zusätzlich mit Angaben zur Datenqualität (z.B. in Form von Validierungs-Ergebnissen) und kommentierbar (am besten über ein offenes System um Mängel zu melden (Issue-Tracker)) bereitgestellt werden. Bis es soweit ist, wollen wir hier mit einfachen Mitteln Abhilfe schaffen</p>
            <p>Wir stellen diese Daten möglichst zeitnah zum Zeitpunkt der originiären Veröffentlichung, jedoch nicht in Echtzeit, sowie möglichst unterbrechungsfrei, jedoch nicht ausfallsicher zur Verfügung. Dieser Dienst ist bei technischen Problemen oder bei den nötigen Wartungsarbeiten nicht verfügbar. Die Datenveröffentlichung erhebt auch im Übrigen keinen Anspruch auf Vollständigkeit und Richtigkeit und begründet kein dahingehendes 
            Vertrauen der Nutzenden oder Dritter.</p>
            <p>Alle Informationen zu und aus diesem Service erfolgen ohne jegliche Gewähr und Haftungsansprüche.</p> 
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-12 content module-title has-text-centered">
          <h2 class="title">Re-publizierte Datensätze</h2>
        </div>
        {% for dataset in datasets %}
        <article class="column is-12 is-half-desktop article cards">
          <div class="card">
            <div class="card-image">
              <a href="{{dataset.landingPage}}">
                <figure class="image is-3by1" role="group">
                  <img alt="Datensatz Symbolbild" src="{{dataset.image}}">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <h3 class="title">
                <a href="{{dataset.landingPage}}">
                  {{dataset.name}}</a>
              </h3>
              <div class="content">
                {{dataset.description}}
              </div>
              <div class="creator">
                Erstellt durch {{dataset.creator.name or 'Unbekannt' }}
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </section>    
</main>

  {% include "includes/footer.html" %}
	</body>
</html>